* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 150%;
  line-height: 1.43;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  display: -ms-flex;
  display: -ms-inline-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/* Доп. позиция */

.align-center {
  align-items: center;
}
.align-item-center {
  display: flex;
  align-items: center;
}
.text-align {
  text-align: center;
}

[class*="col-"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/*  12-column */

.col-1 {
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
/* 10-column */

.col-xl-1 {
  flex: 0 0 10%;
  max-width: 10%;
}
.col-xl-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.col-xl-3 {
  flex: 0 0 30%;
  max-width: 30%;
}
.col-xl-4 {
  flex: 0 0 40%;
  max-width: 40%;
}
.col-xl-5 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-xl-6 {
  flex: 0 0 60%;
  max-width: 60%;
}
.col-xl-7 {
  flex: 0 0 70%;
  max-width: 70%;
}
.col-xl-8 {
  flex: 0 0 80%;
  max-width: 80%;
}
.col-xl-9 {
  flex: 0 0 90%;
  max-width: 90%;
}
.col-xl-10 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 1330px) {
  .col-l-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-l-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-l-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-l-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-l-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-l-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-l-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-l-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-l-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-l-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-l-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-l-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 1170px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .col-xs-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .col-us-1 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-us-2 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-us-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-us-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-us-5 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-us-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-us-7 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-us-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-us-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-us-10 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-us-11 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-us-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #36aaae;
  border-radius: 4px;
  border: 1px solid #000;
}
.width100 {
  width: 100%;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.container {
  max-width: 1295px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 10px 0px;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c5f0f7;

  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
}

.header__list {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 2;
}

.header__list a {
  color: #00868a;
  text-decoration: none;
  transition: 0.3s ease;
  margin-left: 13px;
}
.header__list a:hover {
  transition: 0.3s ease;
  color: #000;
}

.header__menu {
  white-space: nowrap;
}

.header__list li {
  list-style: none;
}
@media (max-width: 1300px) {
  body.lock {
    overflow: hidden;
  }
  .header__list {
    top: 20px;
  }

  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    white-space: nowrap;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c5f0f7;
    padding: 70px 0px 0px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .header__list li {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header__list {
    top: 20px;
  }

  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c5f0f7;
    padding: 70px 0px 0px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0px 0px 15px 0px;
    padding-left: 15px;
  }
}

.header__link__btn {
  padding: 8px 10px;
  border: 1px solid #00868a;
  border-radius: 3px;
}
.header__link__btn:hover {
  color: black;
  background-color: #00868a;
}

.content {
  background-color: #00868a;
  padding-top: 80px;
}

.content-container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 0px;
}

.content-num a {
  font-size: 16px;
  color: #000000;
}
.content-salons {
  display: flex;
}
.content-salons-text a {
  font-size: 16px;
  color: #000000;
  margin-right: 15px;
}
.content-salons-picture {
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 25px;
}
.content-version {
  display: flex;
  align-items: end;

  font-size: 14px;
  text-transform: uppercase;
  background-color: #4fbfa5;
  padding: 10px 20px;
  border-radius: 4px;
}
.content-version img {
  margin-right: 10px;
}
.content-version a {
  color: #fff;
}

.content-mess a {
  margin: 0px 25px 0px 25px;
}
.cosmetology {
  background-color: #00868a;
}

.cosmetology-section {
  color: #fff;
  padding: 0px 15px;
}
.cosmetology-section-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}
.cosmetology-section-text {
  line-height: 150%;
  margin-bottom: 50px;
}
.cosmetology-section-btn {
  display: inline-block;
  background-color: #4fbfa5;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 80px;
  border: 1px solid transparent;
}
.cosmetology-section-btn:hover {
  background-color: #00868a;
  border: 1px solid #4fbfa5;
  transition: 0.3s ease;
}
.cosmetology-section-btn a {
  color: #fff;
  text-transform: uppercase;
}
.cosmetology-section-btn a:hover {
  transition: 0.3s ease;
  color: #000;
}

.cosmetology-picture {
  height: 533px;
}
.cosmetology-picture img {
  width: 100%;
}
.cosmetology-section-arrows {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}

@media(max-width:556.99px) {
  .cosmetology-section-arrows {
    justify-content: left;
  }
}

.cosmetology-section-arrows img {
  width: 40px;
  height: 30px;
}
.cosmetology-section-arrowsleft {
  padding: 12px 15px;
  border: 1px solid #fff;
}
.cosmetology-section-arrowsright {
  padding: 12px 15px;
  border: 1px solid #fff;
}
.lowertext {
  background-color: #00868a;
  margin-bottom: 80px;
}

@media(max-width:556.99px) {
  .lowertext {
    background-color: #00868a;
    margin-bottom: 40px;
  }
}

.lowertext-list ul {
  display: flex;
  justify-content: space-between;
}
.lowertext-list ul li {
  padding: 15px 122.5px;
}
.lowertext-list ul li a {
  color: #fff;
}
.lowertext-list ul li a:hover {
  color: #000;
  transition: 0.3s ease;
}
.btn-color {
  background-color: #4fbfa5;
}

.patent {
  margin-bottom: 80px;
}
.padding {
  padding: 30px 0px 0px 40px;
}

.patent-inovation {
  background-color: #4fbfa5;
}
.patent-inovation-btn {
  margin-bottom: 30px;
  background-color: #00868a;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid transparent;
}
.patent-inovation-btn:hover {
  background-color: #4fbfa5;
  border: 1px solid #00868a;
  transition: 0.3s ease;
}
.patent-inovation-btn a {
  color: #fff;
}
.patent-inovation-btn a:hover {
  color: #000;
}
.patent-inovation-title {
  font-size: 30px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 30px;
}
.patent-inovation-arrows {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.patent-inovation-arrows-rightarrows {
  padding: 12px 15px;
  border: 1px solid #fff;
  margin-right: 20px;
}
.patent-inovation-arrows-rightarrows img {
  width: 40px;
  height: 30px;
}

.patent-inovation-arrows-link a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.patent-inovation-arrows-link a:hover {
  color: #000;
  transition: 0.3s ease;
}
.patent-inovation-picture {
  background: url(../img/main/cosm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 230px;
}

.patent-beauty {
  position: relative;
  z-index: 2;
}

.patent-beauty-btn {
  margin-bottom: 55px;
  background-color: #00868a;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid transparent;
}
.patent-beauty-btn:hover {
  background-color: #fff;
  border: 1px solid #00868a;
  transition: 0.3s ease;
}
.patent-beauty-btn a {
  color: #fff;
}
.patent-beauty-btn a:hover {
  color: #000;
}
.patent-beauty-block {
  display: flex;
  justify-content: space-between;
}
.patent-beauty-block-link {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
.patent-beauty-block-link-section {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.patent-beauty-block-link-section-one {
  position: relative;
  z-index: 5;
}
.patent-beauty-block-link-section-numb {
  margin-right: 20px;
  font-size: 48px;
  color: #000000;
  opacity: 60%;
}
.patent-beauty-block-link-section-numb-one {
  font-size: 96px;
  color: #00868a;
  opacity: 100%;
}
.patent-beauty-block-link-section-text {
  font-size: 14px;
  opacity: 60%;
}
.patent-beauty-block-link-section-text-one {
  font-size: 28px;
  opacity: 100%;
}
.patent-beauty-block-picture {
  position: absolute;
  right: 0;
}

.report {
  margin-bottom: 100px;
}

.report-news {
  height: 100%;
  padding: 30px 40px;
  background-color: #00868a;
}
.report-news-btn {
  background-color: #4fbfa5;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 113px;
  border: 1px solid transparent;
}
.report-news-btn:hover {
  background-color: #00868a;
  border: 1px solid #4fbfa5;
  transition: 0.3s ease;
}
.report-news-btn a {
  color: #fff;
}
.report-news-btn a:hover {
  color: #000;
  transition: 0.3s ease;
}
.report-news-recommend {
  margin-bottom: 60px;
}
.report-news-recommend a {
  color: #fff;
}
.report-news-standart {
  margin-bottom: 60px;
}
.report-news-standart a {
  color: #fff;
}
.report-news-personal {
  margin-bottom: 60px;
}
.report-news-personal a {
  color: #fff;
}
.report-why {
  padding: 30px 40px;
  background-color: #00858a3f;
}

.report-why {
  color: #000000;
}
.report-why-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 25px;
}
.report-why-list ul li {
  font-size: 14px;
  list-style-type: circle;
  margin-bottom: 15px;
}
.offer {
  padding: 100px 0px 200px 0px;
  background-color: #00858a3f;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #00868a;
}

.cards {
  position: relative;
  bottom: 120px;
}

.cards-main {
  cursor: pointer;
  background-color: #00868a;
  transition: 0.3s ease;
}

.cards-main:hover {
  -webkit-box-shadow: 0px 20px 46px 6px rgba(35, 133, 208, 0.55);
-moz-box-shadow: 0px 20px 46px 6px rgba(35, 133, 208, 0.55);
box-shadow: 0px 20px 46px 6px rgba(35, 133, 208, 0.55);
}

.cards-main-picture {
  position: relative;
}

.cards-main-picture img {
  width: 100%;
}
.cards-main-picture-btn {
  background-color: #4fbfa5;
  padding: 10px 15px;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  color: #fff;
}

.cards-main-content {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.cards-main-content-text a {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  margin-right: 15px;
}

@media(max-width:776.99px) {
  .cards-main-content-text a {
    font-size: 20px;
  }
}

@media(max-width:556.99px) {
  .cards-main-content-text a {
    font-size: 24px;
  }
}

.cards-main-content-text a:hover {
  color: #000;
  transition: 0.3s ease;
}
.cards-main-content-arrows img {
  width: 30px;
  height: 30px;
}
.cards-main-content-arrows {
  padding: 5px 5px;
  border: 1px solid #fff;
}

/* @media(max-width:776.99px) {
  .cards-main-content-arrows img{
    width: 20px;
    height: 20px;
  }
  .cards-main-content-arrows {
    padding: 2px 2px;
    border: 1px solid #fff;
  }
} */

.services {
  margin-bottom: 40px;
}

.services-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}
.services-list ul li a {
  font-size: 14px;
  color: #000000;
}
.services-list ul li a:hover {
  border-bottom: 1px solid #000;
}
.services-list ul li {
  margin-bottom: 10px;
}
.services-numb {
  margin-bottom: 20px;
}
.services-numb-title {
  font-size: 14px;
  opacity: 50%;
  margin-bottom: 8px;
}
.services-numb-text {
  font-size: 21px;
  font-weight: 700;
}
.services-adress {
  margin-bottom: 20px;
}
.services-adress-title {
  font-size: 14px;
  opacity: 50%;
  margin-bottom: 8px;
}
.services-adress-text {
  font-size: 21px;
  font-weight: 700;
}
.services-btn a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #00868a;
}
.services-btn a:hover {
  color: #000;
  background-color: #4fbfa5;
  transition: 0.3s ease;
}

.footer-end {
  padding: 10px 0px;
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-end-privileges {
  font-size: 12px;
  font-weight: 400;
  flex: 0 0 300px;
}
.footer-end-polit {
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #000000;
}
.footer-end-btn {
  display: flex;
  padding: 10px 15px;
  background-color: #00868a;
}
.footer-end-btn:hover {
  background-color: #4fbfa5;
  transition: 0.3s ease;
}
.footer-end-btn-picture {
  margin-right: 10px;
}
.footer-end-btn-text a {
  color: #fff;
  text-transform: uppercase;
}
.footer-end-btn-text a:hover {
  color: #000;
  transition: 0.3s ease;
}
.footer-end-logo img {
  padding: 0px 15px;
}

@media (max-width: 1330px) {
  .cards-main {
    margin-bottom: 20px;
  }
}
@media (max-width: 1150px) {
  .footer-end {
    flex-direction: column;
  }
  .footer-end-privileges {
    flex: 0 0 0;
    margin-bottom: 10px;
  }
  .footer-end-polit {
    margin-bottom: 20px;
  }
  .footer-end-btn {
    margin-bottom: 20px;
  }
  .footer-end-logo img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 996px) {
  .patent-beauty-block-picture {
    display: none;
  }
  .content {
    display: none;
  }
  .cosmetology {
    padding-top: 100px;
  }
  .cosmetology-picture {
    display: flex;
    align-items: center;
  }
  .lowertext-list ul li {
    padding: 15px 60.5px;
  }
  .padding {
    padding: 78px 0px 0px 40px;
  }
  .offer {
    padding: 70px 0px 150px 0px;
    font-size: 35px;
  }
  .footer-end-privileges {
    margin-bottom: 20px;
  }
}
@media (max-width: 769px) {
  .cosmetology-picture {
    width: 100%;
    padding: 0px 15px;
  }
  .cosmetology-section-title {
    font-size: 38px;
  }
  .cosmetology-section-text {
    font-size: 16px;
  }
  .lowertext-list ul li {
    padding: 10px 40.5px;
  }
  .padding {
    padding: 20px 0px 0px 40px;
  }
  .patent-inovation-title {
    font-size: 25px;
  }
  .patent-beauty-block-link-section-numb-one {
    font-size: 70px;
  }
  .patent-beauty-block-link-section-text-one {
    font-size: 22px;
  }
  .report-why-title {
    font-size: 20px;
  }
  .report-news-btn {
    margin-bottom: 70px;
  }
  .offer {
    font-size: 30px;
  }
  /* .cards-main-content-text a {
    font-size: 16px;
  } */
  .cards-main-picture-btn {
    padding: 5px;
  }
  .services {
    margin-bottom: 50px;
  }
  .services-list {
    margin-bottom: 30px;
  }
  .patent-inovation {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .cosmetology-picture {
    height: 400px;
  }
  .cosmetology-section-btn {
    margin-bottom: 40px;
  }
  .lowertext-list ul li {
    padding: 6px 20.5px;
  }
  .patent-inovation-title {
    font-size: 22px;
  }
  .patent-inovation-arrows-rightarrows {
    padding: 6px 4px;
  }
  .patent-beauty-block-link-section-numb {
    font-size: 30px;
  }
  .patent-beauty-block-link-section-numb-one {
    font-size: 60px;
  }
  .patent-beauty-block-link-section-text-one {
    font-size: 18px;
  }
  .report-why-title {
    font-size: 16px;
  }
  .report-why-list ul li {
    font-size: 12px;
  }
  .report-news-recommend {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .report-news-standart {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .report-news-personal {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .cards-main-content-arrows {
    width: 30px;
    height: 30px;
  }
  .cards-main-content-arrows img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 500px) {
  .cosmetology-section-title {
    font-size: 30px;
  }
  .cosmetology-section-text {
    font-size: 14px;
  }
  .cosmetology-section-btn {
    margin-bottom: 30px;
    padding: 8px 15px;
  }
  .lowertext-list ul li {
    padding: 4px 10.5px;
  }
  .lowertext-list ul li a {
    font-size: 14px;
  }
  .patent-inovation-btn {
    padding: 8px 10px;
  }
  .patent-beauty-btn {
    padding: 8px 10px;
  }
  .patent-inovation-title {
    font-size: 18px;
  }
  .padding {
    padding: 85px 0px 0px 20px;
  }
  .patent-beauty-block-link-section-numb {
    font-size: 25px;
  }
  .patent-beauty-block-link-section-text {
    font-size: 13px;
  }
  .patent-beauty-block-link-section-numb-one {
    font-size: 45px;
  }
  .patent-beauty-block-link-section-text-one {
    font-size: 16px;
  }
  .cards-main-content-arrows {
    display: none;
  }
  .cards-main-picture-btn {
    font-size: 14px;
  }
  .cards-main-content-text a {
    margin-right: 0;
    font-size: 18px;
  }
  .footer-end-logo img {
    width: 60px;
    height: 60px;
  }
  .footer-end-btn {
    padding: 8px 8px;
  }
}
@media (max-width: 425px) {
  .cosmetology-section-arrowsleft {
    padding: 12px 10px;
  }
  .cosmetology-section-arrowsleft img {
    width: 30px;
    height: 20px;
  }
  .cosmetology-section-arrowsright {
    padding: 12px 10px;
  }
  .cosmetology-section-arrowsright img {
    width: 30px;
    height: 20px;
  }
  .padding {
    padding: 20px 8px;
  }
  .patent-inovation-arrows-link a {
    font-size: 14px;
  }

  .patent-beauty-btn {
    padding: 3px 5px;
  }
  .patent-beauty-block-link-section-numb-one {
    font-size: 30px;
  }
  .patent-beauty-block-link-section-text-one {
    font-size: 14px;
  }
  .patent-beauty-block-link-section-numb {
    font-size: 20px;
  }
  .patent-inovation-arrows-rightarrows {
    margin-right: 10px;
    height: 30px;
    padding: 4px;
  }
  .patent-inovation-arrows-rightarrows img {
    width: 25px;
    height: 20px;
  }
  .offer {
    font-size: 26px;
  }
  .services-btn a {
    padding: 9px 6px;
  }
}
@media (max-width: 375px) {
  .cosmetology-picture {
    height: 250px;
  }
  .lowertext-list ul li {
    padding: 4px 6.5px;
  }
  .lowertext-list ul li a {
    font-size: 14px;
  }
  .patent-inovation-arrows-link a {
    font-size: 11px;
  }
  .patent-inovation-btn a {
    font-size: 14px;
  }
  .patent-beauty-btn a {
    font-size: 14px;
  }
  .footer-end-btn-text a {
    font-size: 14px;
  }
  .footer-end-btn-picture img {
    width: 22px;
    height: 20px;
  }
}
